<!DOCTYPE html>
<html lang="en">

<body>
    <h2>Form</h2>
    <form action="/submit" ,method="POST">
        <label for="Science">Science: </label>
        <input type="text" ,id="science" ,name="science" ,value="0"><br><br>
        <label for="Maths">Maths: </label>
        <input type="text" ,id="math" ,name="math" ,value="0"><br><br>
        <label for="Python">Python: </label>
        <input type="text" ,id="python" ,name="python" ,value="0"><br><br>
        <label for="DS">DS: </label>
        <input type="text" ,id="ds" ,name="ds" ,value="0"><br><br>
        <input type="submit" ,value="Submit">
    </form>
</body>

</html>